<a href="${BASE_URL}$NB_INDEX">$template_main</a><br />
<!-- add more links below this line -->
<a href="http://www.twitter.com/Knusper2000"><img src="./images/twittermusic.gif" alt="Follow Me on Twitter!"></a><br />
<a href="http://knusper.tumblr.com/"><img src="./images/tumblr.png" alt="Tumblr!">knuspr.tumblr.com</a><br />
<div class="sidetitle">
 Blogroll
</div>
<a href="http://diekershoff.homeunix.net/tobias/">Anything or more and less</a><br />
<a href="http://www.dissonanzstudien.de/blog/">stypeblog</a><br />
<a href="http://www.tobitobsucht.de/wordpress/">Tobi Tobsucht</a><br />
<a href="http://bsbulletin.wordpress.com/">Bullshit-Bulletin</a><br />
<a href="http://schweinkram.com/">schweinkram.com</a><br />
<a href="http://www.mikrophon.net/">mikrophon.</a><br />
